* {

	margin: 0;
	padding: 0;
}
.soccerbody{
	background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.5)), url("soccer_stadium.jpeg");
	background-size: 100%;
	background-repeat: repeat-y;
	background-position: center;


}
div {
    display:flow-root;
    align-items: center;
}


header, .homebody{
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("soccer_stadium.jpeg");
	background-size: 100%;
	background-repeat: repeat-y;
	background-position: center;
}


h1 {
    color: yellowgreen;
	margin-left: 20px;
	text-align: center;
}

.firstdiv{

	color: aqua;
	background:  url("sports_background.jpg");
	background-size: 15000px 15000px;

}

.secD {
	width: 100%;

}
.maindiv{

	color: brown;
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("sports_img2.jpg");
	background-size: 2000px 2000px;
	
}
table, th, td {
    border: 1px solid white;
	border-collapse: collapse;
	tab-size: 30%;
	text-align: center;
	color: brown;
	
	
}
th, td {
    padding: 5px;
	text-align: center;
	color: bisque
}

.navigation {
	overflow: hidden;
	background-color:rgba(199, 135, 38, 0.5);
	padding: 20px;
	text-align: center;
}

.navigation a {
	float: center;
	color: white;
	text-align: center;
	padding: 44px 46px;
	text-decoration: floralwhite;
	font-size: 47px;
}

.navigation a:hover {
	background-color: #ddd;
	color: white;
}

.navigation a.active {
	background-color: red;
	color: white;
}
.box{
	width: 450px;
	background-color:rgba(192,192,192,0.7);
	padding: 40px;
	text-align: center;
	margin: auto;
	margin-top: 5%;
	color: white;
	font-family: 'Century Gothic', sans-serif;
	
}
.box-img{
	border-radius: 50%;
	width: 200px;
	height: 200px;
}
.box h1{
	font-size: 40px;
	letter-spacing: 4px;
	font-weight: 100;

}
.box h5{
	font-size: 20px;
	letter-spacing: 3px;
	font-weight: 100;
	
}
.box p{
	text-align: justify;

}
.box2{
	

	margin: 2px;
	padding: 20px;
	text-align: inherit;
	width: 100%;
	margin-top: 5px;
	



}
.pic{
	background-color:rgba(192,192,192,0.7);
	color: white;
	margin: auto;
	font-family: 'Century Gothic', sans-serif;
	padding: 40px;
	text-align: center;
	width: 650px;
	margin-top: 5%;
}

@media (maxwidth: 375px) {



}